{extend name='main'}

{block name="style"}
<style>
    .app-detail-right .layui-tab-card {
        padding: 20px 25px;
    }

    .duan-input {
        width: 24%;
        height: 30px;
        display: inline-block;
        margin-right: 33px;
        margin-left: 19px;
    }

    .d-submit {
        width: 8%;
        height: 30px;
        border-radius: 3px;
        border: 1px #000 solid;
        background-color: #fff;
    }

    .chang-input {
        width: 60%;
        display: inline-block;
        margin-left: 67px;
        margin-right: 33px;
    }

    .fabu {
        display: inline-block;
        margin-left: 19px;
    }

    .app-upload {
        margin-left: 19px;
    }

    .app-upload-text {
        margin: 0 19px;
    }

    .shangchuan {
        margin-left: 68px;
    }

    .layui-form-switch {
        margin-top: 0;
    }

    .layui-input-block {
        margin-left: 67px;
    }

    .layui-form-radio {
        margin-top: 0;
    }


    .app-domain-hr {
        /*text-align: center;*/

    }

    .app-domain-hr1 {
        float: left;
        width: 150px;
        margin-right: 40px;
    }

    .app-domain-hr2 {
        float: left;
        width: 150px;
        margin-right: 40px;
    }

    .app-domain-hr3 {
        float: left;
        width: 250px;
        margin-right: 40px;
    }

    .app-domain-textarea {
        height: 38px;
        min-height: 38px;
    }

    .app-domain-add {
        clear: both;
    }

    .app-domain-contain {
        margin: 10px auto;
    }

    .muban-save {
        margin: 50px auto 20PX;
        text-align: center !important;
    }

</style>
{/block}

{block name="content"}
<div class="think-box-shadow">
    <div class="app-detail">
        {include file="app/left" /}
        <div class="app-detail-right">
            <form class="layui-form" action="{:request()->url()}" data-auto="true" method="post"
                  autocomplete="off">
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="relative block">
                            <span class="color-green font-w7">应用名称</span>
                            <input value='{$row.name}' name="name" class="layui-input duan-input app-value">
                        </label>
                    </div>
                    <div class="layui-form-item">
                        <label class="relative block">
                            <span class="color-green font-w7">创建时间</span>
                            <input value='{$row.created_at|format_datetime}' class="layui-input duan-input" disabled>
                        </label>
                    </div>
                    <div class="layui-form-item">
                        <label class="relative block">
                            <span class="color-green font-w7">AppKey</span>
                            <input value='{$row.app_key}' class="layui-input duan-input" disabled>
                        </label>
                    </div>
                    <div class="layui-form-item">
                        <label class="relative block" style="float: left">
                            <span class="color-green font-w7">应用图标</span>
                        </label>
                        <div class="shangchuan">
                            <input name="img" type="hidden" value="{$row.img}" class="app-value">
                            <span class="app-upload-text">请上传你的应用图标(大小不超过1M)</span>
                            <script>
                                $('[name="img"]').uploadOneImage()
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="relative block" style="float: left">
                            <span class="color-green font-w7">下载方式</span>
                        </label>
                        <div class="layui-input-block">
                            <input type="radio" name="download_type" value="1" title="链接下载" lay-filter="download_type"
                                   {$row.download_type== 1 ? 'checked' : ''}>
                            <input type="radio" name="download_type" value="2" title="openInstall"
                                   lay-filter="download_type" {$row.download_type== 2 ? 'checked' : ''}>
                        </div>
                    </div>

                    <!--<div class="layui-form-item">
                        <label class="relative block" style="float: left">
                            <span class="color-green font-w7">开关</span>
                        </label>
                        <div class="layui-input-block">
                            <input class="app-value" type="checkbox" value="1" name="status" lay-skin="switch"
                                   lay-text="开启|关闭" lay-filter="status" {$row.status== 1 ? 'checked' : ''}>
                        </div>
                    </div>-->

                    <div class="layui-form-item" style="width:500px;">
                        <label class="relative block" style="float: left">
                            <span class="color-green font-w7">域名</span>
                        </label>
                        <div class="layui-input-block">
                            <textarea placeholder="格式
1、域名+空格+渠道号
2、渠道号不写则是默认渠道：default
3、举例：
aaaa.com daili01
bbbb.com daili02" class="layui-textarea"
                                      name="domains">{$bindDomains|default=""}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item" style="width:500px;">
                        <label class="relative block" style="float: left">
                            <span class="color-green font-w7">统计代码</span>
                        </label>
                        <div class="layui-input-block">
                            <textarea placeholder="1、支持多个统计代码（百度、cnzz）同时存在,多个回车换行
2、所有域名默认共享同一个
3、如果想单独设置请到统计代码里面单独管理" class="layui-textarea"
                                      name="default_statistics_code">{$vo.default_statistics_code|default=""}</textarea>
                        </div>
                    </div>


                    <input type="hidden" name="id" value="{$row.id}">

                    <div class="layui-form-item muban-save">
                        <button class="layui-btn muban-save-btn" type='submit' lay-filter="formDemo">保存数据</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>



</script>
{/block}
{block name='script'}
<script>
    form.render();
</script>
{/block}
