{extend name='main'}

{block name="style"}
<style>

    .layui-card-body{
        padding-top: 0;
    }
    .duan-input{
        width: 24%;
        height: 30px;
        display: inline-block;
        margin-right: 33px;
        margin-left: 19px;
    }

    .d-submit{
        width: 8%;
        height: 30px;
        border-radius: 3px;
        border: 1px #000 solid;
        background-color: #fff;
    }
    .chang-input{
        width: 60%;
        display: inline-block;
        margin-left: 67px;
        margin-right: 33px;
    }
    .fabu{
        display: inline-block;
        margin-left: 19px;
    }
    .app-upload{
        margin-left: 19px;
    }
    .app-upload-text{
        margin: 0 19px;
    }

    .app-detail-right {
        width: 85%!important;
        margin: 0!important;
    }

</style>
{/block}

{block name="content"}
<div class="think-box-shadow">
    <div class="app-detail">
            {include file="app/left" /}
            <div class="app-detail-right">
                <div class="layui-card-body layui-anim layui-anim-upbit">
                    <div class="layui-tab think-bg-white">
                        <ul class="layui-tab-title notselect">
                            <li data-type="store-config-type-params" class="layui-this">IPA包</li>
                            <li data-type="store-config-type-sms1" class="">IOS下载设置</li>
                        </ul>
                        <div class="layui-tab-content">
                            {include file="app/ipa" /}
                            {if auth("changeAdConfig")}
                            {include file="app/ios_config" /}
                            {/if}
                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
</div>

{/block}

