<style>
    .heixian{
        border: 1px #e6e6e6 solid;
        margin: 45px;
    }
</style>
<div class="layui-tab-item">
    <form class="layui-form" onsubmit="return configSubmit(this);" action="{:url('changeAdConfig')}"  method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">集成应用宝</label>
            <div class="layui-input-block">
                <input type="checkbox" name="pg_config_is_myapp" title="启用" value="1" lay-skin="primary" {$row.pg_config_is_myapp == 1 ? 'checked' : ''}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应用宝地址</label>
            <div class="layui-input-block">
                <input type="text" name="pg_config_myapp_url" value="{$row.pg_config_myapp_url}"   lay-verify="" placeholder="请输入应用宝地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item heixian">

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择安装方式</label>
            <div class="layui-input-block">
                <input type="radio" name="pg_config_install_type" value="1" title="托管IPA" {$row.pg_config_install_type == 1 ? 'checked' : ''}>
                <input type="radio" name="pg_config_install_type" value="2" title="外部IPA" {$row.pg_config_install_type == 2 ? 'checked' : ''}>
                <input type="radio" name="pg_config_install_type" value="3" title="App Store及其他"  {$row.pg_config_install_type == 3 ? 'checked' : ''}>
                <input type="radio" name="pg_config_install_type" value="4" title="外部plist" {$row.pg_config_install_type == 4 ? 'checked' : ''}>
            </div>
            <p>上传到系统的IPA包，方便快速测试</p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择托管的APK包</label>
            <div class="layui-input-block">
                <select name="pg_config_trust_ipa_id" lay-verify="">
                    <option value=""></option>
                    {foreach $ipas as $key=>$vo}
                    <option value="{$vo.id}" {$vo.id == $row.pg_config_trust_ipa_id ? 'selected' : ''}>序号：{$vo.id} &nbsp;&nbsp;&nbsp;&nbsp;上传时间：{$vo.created_at|format_datetime}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IPA文件的下载地址</label>
            <div class="layui-input-block">
                <input type="text" name="pg_config_install_url"  value="{$row.pg_config_install_url}"  lay-verify="" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">App Store及其地址</label>
            <div class="layui-input-block">
                <input type="text" name="pg_config_app_store_url" value="{$row.pg_config_app_store_url}"  lay-verify="" placeholder="请输入App Store及其地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">外部plist</label>
            <div class="layui-input-block">
                <input type="text" name="pg_config_plist" value="{$row.pg_config_plist}"  lay-verify="" placeholder="请输入外部plist" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"  lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>

<script>
    //Demo
    form.render();
    function configSubmit(formObj) {
        var temp  = $(formObj).find("input[name='pg_config_is_myapp']:checked").val();
        var pg_config_is_myapp = temp ? temp : 0;
        var pg_config_myapp_url = $(formObj).find("input[name='pg_config_myapp_url']").val();
        var pg_config_install_type = $(formObj).find("input[name='pg_config_install_type']:checked").val();
        var pg_config_trust_ipa_id = $(formObj).find("select[name='pg_config_trust_ipa_id']").val();
        var pg_config_install_url = $(formObj).find("input[name='pg_config_install_url']").val();
        var pg_config_app_store_url = $(formObj).find("input[name='pg_config_app_store_url']").val();
        var pg_config_plist = $(formObj).find("input[name='pg_config_plist']").val();

        $.ajax({
            type: "post",
            url: "{:url('changePgConfig')}",
            data:{
                pg_config_install_type : pg_config_install_type,
                pg_config_myapp_url : pg_config_myapp_url,
                pg_config_is_myapp : pg_config_is_myapp,
                pg_config_trust_ipa_id : pg_config_trust_ipa_id,
                pg_config_install_url : pg_config_install_url,
                pg_config_app_store_url : pg_config_app_store_url,
                pg_config_plist : pg_config_plist,
                id : {$row.id},
            },
            beforeSend: function(request) {
                request.setRequestHeader("User-Token-Csrf", "{:systoken('changeAdConfig')}");
            },
            success: function(rJson) {
                if(rJson.code === 1){
                    layer.msg(rJson.info, {icon: 1});
                }else {
                    layer.msg(rJson.info, {icon: 5});
                }
            }
        });

        return false;
    }
</script>
