<style>
    .ipa_body{
        padding: 10px;
    }
    .zhong{
        border-top: 2px #000000 solid;
        border-bottom: 2px #000000 solid;
        padding: 10px 0;
        font-size: 14px;
    }
    .shang{
        padding-bottom: 20px;
        font-size: 14px;
    }
    .ipa_logo{
        margin-right: 20px;
        width: 90px;
        height: 90px;
        float: left;
    }
    .ipa_s_l_r{
        float: left;
    }

    .ipa_s_l_r_1{
        margin-bottom: 35px;
    }
    .ipa_s_r{
        float: right;
    }
    .ipa_s_r_1{
        margin-bottom: 35px;
    }
    .zhong_l{
        float: left;
    }
    .zhong_l p{
        line-height: 46px;
    }
    .zhong_r{
        float: right;
    }
    .zhong_r p{
        line-height: 46px;
    }
    .x_anniu{
        text-align: right;
        margin: 10px 0;
    }
    .x_anniu button{
        width: 81px;
        padding: 4px;
        background-color: #fff;
        border: 1px #000 solid;
        border-radius: 5px;
        cursor: pointer;
    }
    .xia{
        position: relative;
    }
    .clear{
        clear: both;
    }
    .layui-tab-content{
        min-height: 637px;
    }
    .jindu{
        margin-bottom: 10px;
    }
</style>
<div class="layui-tab-item layui-show">
    <div class="ipa_body">
        <div class="shang">
            <div class="ipa_s_l">
                <img src="{$ipa.data.iconimage ?? '' }" class="ipa_logo">
                <div class="ipa_s_l_r">
                    <p class="ipa_s_l_r_1">序号：{$ipa.id}</p>
                    <p class="ipa_s_l_r_2">文件大小：{$ipa.size}</p>
                </div>
            </div>
            <div class="ipa_s_r">
                <p class="ipa_s_r_1">应用名：{$row.name}</p>
                <p class="ipa_s_r_r">上传时间：{$ipa.created_at ? $ipa.created_at|format_datetime : ''}</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="zhong">
            <div class="zhong_l">
                <p class="zhong_l_1">appKey:{$row.app_key}</p>
                <p class="zhong_l_2">版本号(versionName)：{$ipa.data ? $ipa.data.versionName : ''}</p>
            </div>
            <div class="zhong_r">
                <p class="zhong_r_1">包名(applicationld):{$ipa.data ? $ipa.data.package  : ''}</p>
                <p class="zhong_r_2">内部版本号(versionCode):{$ipa.data ? $ipa.data.versionCode  : ''}</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="xia">
            <div class="x_anniu">
                <input name="ipa" value="" type="hidden">
                <div class="layui-progress layui-progress-big jindu" hidden lay-filter="demo" lay-showPercent="yes">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
                {if auth("addIpa")}
                <button type="button" id="upload" class="layui-btn layui-btn-primary margin-right-5">
                    <i class="layui-icon layui-icon-vercode font-s14"></i> 上传
                </button>
                {/if}
            </div>
            <table class="layui-table" >
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>版本号</th>
                    <th>内部版本号</th>
                    <th>文件大小</th>
                    <th>上传日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $key=>$vo}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.data.versionName}</td>
                    <td>{$vo.data.versionCode}</td>
                    <td>{$vo.size}</td>
                    <td>{$vo.created_at|format_datetime}</td>
                    <td>
                        <a href="javascript:;" class="layui-btn layui-btn-sm app_ceshi" data-url="itms-services://?action=download-manifest&url={$vo.data.plist_path ?? ''}">测试</a>
                        <a href="javascript:;" data-copy="itms-services://?action=download-manifest&url={$vo.data.plist_path ?? ''}" class="layui-btn layui-btn-sm layui-bg-blue fa fa-copy">复制URL</a>
                        {if auth("removePackage")}
                        <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该ipa吗？" data-action="{:url('removePackage')}" data-value="id#{$vo.id}" data-csrf="{:systoken('removePackage')}">删 除</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}

                </tbody>
            </table>
            {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

        </div>
    </div>
</div>

<span id="qrcode" style="width: 100px; height: 100px" hidden></span>

<script src="__ROOT__/static/plugs/qrcode/jquery.qrcode.js"></script>
<script src="__ROOT__/static/plugs/qrcode/qrcode.js"></script>
<script>
    $('.app_ceshi').click(function () {
        jQuery('#qrcode').html('');
        var url = $(this).data('url');
        jQuery('#qrcode').qrcode(url);
        layer.open({
            type : 1,
            title: '扫描二维码',
            content: jQuery('#qrcode'),
            shade:0,
        });
    });
    var upload = layui.upload;
    var element = layui.element;
    element.render('progress', 'demo');

    {if sysconf('package_upload_type')=='tx'}
    upload.render({
        elem: '#upload'
        ,url: 'http://www.armshores.com/admin/ajax/package_upload'
        ,accept: 'file' //允许上传的文件类型
        ,size: 5000000 //最大允许上传的文件大小
        ,exts:'ipa'
        ,acceptMime:'application/iphone'
        ,data:{
            domain : 'https://www.apposg.com'
        }
        ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            $('.jindu').show(500);
        }
        ,done: function(res, index, upload){ //上传后的回调
            if (res.code !== 1) {
                alert('上传失败');
                return false;
            }
            $.ajax({
                type: "post",
                url: "{:url('addIpa')}",
                data:{updateData : res.data,appId:{$row.id}},
                beforeSend: function(request) {
                    request.setRequestHeader("User-Token-Csrf", "{:systoken('addIpa')}");
                },
                success: function(rJson) {
                    alert(rJson.info);
                    if(rJson.code === 1) location.reload();
                }
            });
        }
        ,progress: function(n){
            var percent = n + '%' ;//获取进度百分比
            element.progress('demo', percent); //可配合 layui 进度条元素使用
        }
        ,error: function(index, upload){
            console.log(index);
            console.log(upload);
        }
    });
    {else}
    upload.render({
        elem: '#upload'
        ,url: "{:url('api.plugs/uploadPackage')}"
        ,accept: 'file' //允许上传的文件类型
        ,size: 5000000 //最大允许上传的文件大小
        ,exts:'ipa'
        ,acceptMime:'application/iphone'
        ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            $('.jindu').show(500);
        }
        ,done: function(res, index, upload){ //上传后的回调
            if (res.code !== 1) {
                alert('上传失败');
                return false;
            }
            $.ajax({
                type: "post",
                url: "{:url('addIpa')}",
                data:{updateData : res.data,appId:{$row.id}},
                beforeSend: function(request) {
                    request.setRequestHeader("User-Token-Csrf", "{:systoken('addIpa')}");
                },
                success: function(rJson) {
                    alert(rJson.info);
                    if(rJson.code === 1) location.reload();
                }
            });
        }
        ,progress: function(n){
            var percent = n + '%' ;//获取进度百分比
            element.progress('demo', percent); //可配合 layui 进度条元素使用
            n = n-0;
            if(n === 100){
                layer.msg('上传oss中,请稍等', {
                    icon: 16
                    ,shade: 0.01
                    ,time:0
                });
            }
        }
        ,error: function(index, upload){
            console.log(index);
            console.log(upload);
        }
    });


    {/if}
</script>
