{extend name='main'}

{block name="style"}
<link rel="stylesheet" href="__ROOT__/static/plugs/swiper/swiper.min.css?at={:date('md')}">

<style>
    .think-box-shadow {
        min-width: 1250px;
    }

    .app-detail-right {
        float: left;
        width: 73%;
        margin: 0 33px 0 15px;
        min-height: 700px;
        /*border: 1px #000000 solid;*/
    }

    .app-detail-right .layui-tab-card {
        padding: 20px 25px;
    }

    .duan-input {
        width: 53%;
        height: 30px;
        display: inline-block;
        margin-right: 33px;
        margin-left: 19px;
    }

    .app-detail .peizhi-title {
        width: 6%;
        display: inline-block;
        margin-top: 10px;
    }

    .app-upload {
        margin-left: 18px;
    }


    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative;
        padding: 5px;
        /* Center slide text vertically */

    }

    .fanhui {
        margin-left: 20px;
        margin-bottom: 10px;

    }

    .zezao {
        width: 98%;
        height: 98%;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        border: 2px #090 solid;
        display: none;
    }

    .ext_json_key {
        width: 150px;
        display: inline;
        margin-right: 20px;
    }

    .ext_json_value {
        width: 500px;
        display: inline;
    }

    .ext_json_line {
        /*margin-left: 0;*/
        margin-top: 10px;
    }

    .ext_json_line .uploadimage {
        position: relative;
        top: 15px;
    }

    .muban-save {
        text-align: center;
    }

    .muban-search {
        color: #FF5722;
    }

</style>
{/block}
{block name="button"}

{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加APP" class='layui-btn layui-btn-sm layui-btn-primary'>添加APP</button>
{/if}

{if auth("remove")}
<button data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}"
        data-confirm="确定要删除这些APP吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除APP
</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    <a data-open="{:url('app/index')}">
        <button type="button" class="layui-btn layui-btn-primary fanhui">返回</button>
    </a>

    <div class="app-detail">
        {include file="app/left" /}
        <div class="app-detail-right">
            <form class="layui-form layui-card" id="temForm" action="{:request()->url()}" data-auto="true" method="post"
                  autocomplete="off">
                <div class="layui-card-body layui-tab-card">
                    <div class="layui-form-item">
                        <label class="relative block">
                            <span class="color-green font-w7 peizhi-title">模板ID</span>
                            <input name="template_id" id="template_id" value='{$row.template_id}'
                                   oninput="value=value.replace(/[^\d]/g,'')"
                                   class="layui-input duan-input"
                                   placeholder="输入模板ID进行搜索">
                            <span class="muban-search"></span>
                        </label>
                    </div>

                    <div class="layui-form-item">
                        <label class="relative block">
                            <span class="color-green font-w7 peizhi-title">参数配置</span>

                            <div class="layui-hide ext_json_muban">
                                <div class="layui-input-block ext_json_line">
                                    <input type="text" name="ext_key[]" readonly disabled placeholder="请输入KEY"
                                           value=""
                                           class="layui-input ext_json_key layui-bg-gray">
                                    <input type="text" name="ext_value[]" disabled placeholder="请输入配置值"
                                           value=""
                                           class="layui-input ext_json_value">
                                </div>
                            </div>

                            <div class="ext_json_list">
                                {foreach $ext_json as $k=>$v}
                                <div class="layui-input-block ext_json_line">
                                    <input type="text" name="ext_key[]" readonly placeholder="请输入KEY"
                                           value="{$k}"
                                           class="layui-input ext_json_key layui-bg-gray">
                                    {if stripos($k,'img')!==false}
                                    <input type="text" name="ext_value[]" placeholder="请输入配置值" id="ext_{$k}"
                                           value="{$v}"
                                           class="layui-input ext_json_value layui-hide">
                                    <script>$("#ext_{$k}").uploadOneImage();</script>
                                    {else}
                                    <input type="text" name="ext_value[]" placeholder="请输入配置值"
                                           value="{$v}"
                                           class="layui-input ext_json_value">
                                    {/if}
                                </div>
                                {/foreach}
                            </div>
                        </label>
                    </div>

                    <input type='hidden' value='{$row.id}' name='id'>


                    <div class="layui-form-item muban-save">
                        <button class="layui-btn muban-save-btn" type='submit'>保存数据</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    form.render();
    $(document).on('keyup', '#template_id', function (e) {
        $.ajax({
            type: "post",
            url: "{:url('getTemplateInfo')}",
            data: {classId: $(this).val(), appId: $('input[name="id"]').val()},
            beforeSend: function () {
                $(".muban-save-btn").attr('disabled', true);
                $(".muban-save-btn").addClass('layui-bg-gray');
                $(".ext_json_list").html('');
            },
            complete: function () {
                isSearch = false;
            },
            success: function (rJson) {
                if (rJson.code == 0) {
                    $(".muban-search").text(rJson.info);
                    $(".ext_json_list").html('');
                    return;
                } else {
                    $(".muban-search").text('');
                }
                $(".muban-save-btn").attr('disabled', false);
                $(".muban-save-btn").removeClass('layui-bg-gray');
                let tempData = rJson.data;
                for (let key in tempData) {
                    let ext_json_item = $(".ext_json_muban").children().clone(true);
                    ext_json_item.find('input').attr('disabled', false);
                    ext_json_item.find('.ext_json_key').val(key);
                    ext_json_item.find('.ext_json_value').val(tempData[key]);
                    if (key.indexOf('img') > -1) {
                        ext_json_item.find('.ext_json_value').uploadOneImage();
                        ext_json_item.find('.ext_json_value').addClass('layui-hide');
                    }
                    $(".ext_json_list").append(ext_json_item);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                layer.msg(errorThrown);
            }
        });
    });
    // $("#template_id").keyup();


    layui.use(['upload'], function () {
        var upload = layui.upload;
        upload.render({
            elem: '.ext_img'
            , url: "{:url('api.plugs/upload')}"
            , exts: 'jpg|png|gif|bmp|jpeg'
            , accept: 'images'
            , acceptMime: "image/*"
            , progress: function (n) {
                var percent = n + '%' //获取进度百分比
            }
            , done: function (ret, index, upload) {
                this.multiple || $.msg.close(this.proindex);
                // console.log(ret);
                if (ret.uploaded) {
                    $(this.item).prev().val('/upload/' + ret.filename);
                    $(this.item).prev().prev().attr('src', ret.url);
                    $.msg.success('上传成功');
                } else {
                    $.msg.error(ret.info || ret.error.message || '文件上传出错！');
                }
            }
        });
    });


</script>


{/block}

{block name="script"}

{/block}