<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">模板名称</span>
                <span class="color-desc margin-left-5">Name</span>
                {if isset($vo) and isset($vo.username)}
                <input disabled value='{$vo.username|default=""}' class="layui-input layui-bg-gray">
                {else}
                <input name="name" value='{$vo.name|default=""}' required pattern="^.{1,}$"
                       placeholder="请输入名称" class="layui-input">
                {/if}
            </label>
            <p class="help-block">请输入模板的名称。</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">模板分组</span>
                <span class="color-desc margin-left-5">Classname</span>
            </label>
            <div class="layui-clear">
                <select class="layui-select block" name="class_id">
                    {foreach tempCate as $v}
                    {if isset($vo) and isset($vo.class_id)}
                    <option {if $vo.class_id eq $v.id} selected {/if} value="{$v.id}">{$v.name}</option>
                    {else}
                    <option value="{$v.id}">{$v.name}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
            <p class="help-block">请选择模板所在分组。</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">模板压缩包</span>
                <span class="color-desc margin-left-5">Zip</span>
            </label>
            <div class="layui-clear">
                <label class="layui-col-xs8 think-form-group-left">
                    <input name="package" {if !isset($vo.id)}required{/if} placeholder="请上传模板压缩包"
                           class="layui-input" readonly>
                </label>
                <button type="button" class="layui-btn" id="package" data-field="package">
                    <i class="layui-icon">&#xe67c;</i>上传
                </button>
            </div>
            <div class="layui-progress layui-hide" lay-filter="template_package" id="template_package" style="margin:20px auto;">
                <div class="layui-progress-bar" lay-percent="0%">
                    <span class="layui-progress-text">0</span>
                </div>
            </div>
            <p class="help-block">将模板根目录的所有文件打包成zip格式的压缩包。</p>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

</form>
<script>
    layui.use(['upload'], function(){
        var upload = layui.upload;
        var element = layui.element;
        upload.render({
            elem: '#package'
            , url: "{:url('api.plugs/upload')}"
            , exts: 'zip'
            , accept: 'file'
            , acceptMime: "application/zip"
            , data:{safe: '1'}
            , choose: function (ret) {
                $("#template_package").removeClass('layui-hide');
            }
            , progress: function (n) {
                element.progress('template_package', n + '%'); //设置进度百分比
            }
            ,done: function(ret, index, upload){
                this.multiple || $.msg.close(this.proindex);
                if (ret.uploaded) {
                    $('input[name="package"]').val(ret.url);
                    layer.msg('上传成功');
                } else {
                    $.msg.error(ret.info || ret.error.message || '文件上传出错！');
                }
            }
        });
    });
</script>