{extend name='main'}


{block name="button"}
{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加模板" class='layui-btn layui-btn-sm layui-btn-primary'>添加模板</button>
{/if}

{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='template/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>模板名称</th>
            {if $isAdmin}
            <th class='text-left nowrap'>上传者</th>
            {/if}
            <th class='text-left nowrap'>效果展示</th>
            <th class='text-left nowrap'>创建时间</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>{$vo.id|default=''}</td>
            <td class='text-left nowrap'>{$vo.name|default=''}</td>
            {if $isAdmin}
            <td class='text-left nowrap'>{$vo.owner|default=''}</td>
            {/if}
            <td class='text-left nowrap'>
                <a target="_blank" href="{$vo.preview_url}">点击预览</a>
            </td>
            <td class='text-left nowrap'>{$vo.created_at|format_datetime}</td>
            <td class='text-left nowrap'>

                {if auth("download")}
                <a data-dbclick class="layui-btn layui-btn-sm layui-btn-normal" data-title="下载模板"
                   href="{:url('download')}?id={$vo.id}" target="_blank">下 载</a>
                {/if}
                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="修改模板"
                   data-modal='{:url("edit")}?id={$vo.id}'>修 改</a>
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该模板吗？"
                   data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
