{extend name='main'}

{block name="button"}
{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加域名" class='layui-btn layui-btn-sm layui-btn-primary'>添加域名</button>
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='domain/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>访问域名</th>
            <th class='text-left nowrap'>跳转域名</th>
            <th class='text-left nowrap'>备注</th>
            <th class='text-left nowrap'>创建时间</th>
            <th class='text-left nowrap'>二次跳转页</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>{$vo.call_domain|default=''}</td>
            <td class='text-left nowrap'>{$vo.jump_domain|default=''}</td>
            <td class='text-left nowrap'>{$vo.remark|default=''}</td>
            <td class='text-left nowrap'>{$vo.created_at|format_datetime}</td>
            <td class='text-left nowrap'>
                {eq name='vo.jump_status' value='0'}<span class="color-red">已关闭</span>{else}<span class="color-green">启用中</span>{/eq}
                &nbsp;
                {if $vo.jump_status eq 1 and auth("close_jump")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('close_jump')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('close_jump')}">关闭</a>
                {elseif $vo.jump_status eq 0 and auth("open_jump")}
                <a class="layui-btn layui-btn-sm" data-action="{:url('open_jump')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('open_jump')}">开启</a>
                {/if}
            </td>
            <td class='text-left nowrap'>{eq name='vo.status' value='0'}<span class="color-red">已禁用</span>{else}<span class="color-green">使用中</span>{/eq}</td>
            <td class='text-left nowrap'>

                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="修改域名"
                   data-modal='{:url("edit")}?id={$vo.id}'>修 改</a>
                {/if}

                {if $vo.status eq 1 and auth("forbid")}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('forbid')}">禁 用</a>
                {elseif $vo.status eq 0 and auth("resume")}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('resume')}">启 用</a>
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该域名配置吗？"
                   data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
