<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">分组名称</span>
                <span class="color-desc margin-left-5">Name</span>
                {if isset($vo) and isset($vo.username)}
                <input disabled value='{$vo.username|default=""}' class="layui-input layui-bg-gray">
                {else}
                <input name="name" value='{$vo.name|default=""}' required pattern="^.{1,}$"
                       placeholder="请输入名称" class="layui-input">
                {/if}
            </label>
            <p class="help-block">请输入模板分组的名称。</p>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

</form>
